
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html
{
    scroll-behavior: unset !important;
}

body {
    overflow-x: hidden;
    font-family: 'tt_commonsregular';
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:hover {
    text-decoration: none;
}

img,
svg {
    display: block;
}

.bs_wrapper
{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

.bs__header
{
    padding-top: 50px;
}

.bs__header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bs_logo img
{
    width: 164px;
}

.bs_number
{
    flex: 1;
}

.bs__number
{
    border-radius: 10px;
background: #F2F8F8;
display: table;
margin-left: auto;
}

.bs__number ul
{
    display: flex;
    flex-wrap: wrap;

}
.bs__number ul li
{
    padding: 18px 44px;
    color: #0B3A7C;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 24px;
font-family: 'tt_commonsbold';
}

.bs__number ul li span
{
    font-family: 'tt_commonsregular';
    font-weight: 400;
}

.bs__number ul li:first-child
{
    border-right: 1px solid #D1D3DD;

}

.bs__number ul li a
{
    color: inherit;
}

.bs__number ul li:last-child
{
    padding-right: 30px;
}

.bs_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.banner_content {
    background-color: #0B3A7C;
    height: 100%;
    padding-left: calc((100vw - 1217px) / 2);
    padding-top: 160px;
    padding-bottom: 40px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_img img
{
    width: 100%;
}

.cws_img
{
    width: 100%;
}

.banner_content h1
{
    color: #FFF;
    font-family: 'tt_commonsmedium';
    font-size: 73px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
}

.banner_content p
{
    color: #FFF;
    margin: 48px 0 50px 0;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 75%;
}

.bs_cta
{
    border-radius: 10px;
background: #F90;
display: inline-flex;
width: 306px;
height: 58px;
padding: 5px;
align-items: center;
justify-content: center;
border: 2px solid #F90;
color: #FFF;
text-align: center;
font-family: 'tt_commonsdemibold';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 26px;
transition: 0.3s;
}

.bs_cta:hover
{
    background-color: #0B3A7C;
}

.bs__partners
{
    padding: 47px 0 38px 0;
}

.bs__partners ul
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 20px;
    justify-content: space-between;
}

.quality_logo
{
    height: 91px;
}

.ranking_logo
{
    height: 44px;
}

.arating_logo
{
    height: 58px;
}

.arizona_logo
{
    height: 60px;
}

.rose_logo
{
    height: 78px;
}

.green_log
{
    height: 62px;
}

.bs_callback
{
    padding: 113px 0 100px 0;
    background-color: #F2F8F8;
}

.single_sec {
    margin-bottom: 61px;
    padding-right: 100px;
}

.single_sec.all_clear svg
{
    height: 80px;
    width: auto;
}

.single_sec.pet_people svg
{
    height: 84px;
    width: auto;
}

.single_sec.gurantee_result svg
{
    height: 85px;
    width: auto;
}

.single_sec h2
{
    color: #0B3A7C;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 66px;
margin: 40px 0 13px 0;
}

.single_sec p
{
    color: #0B3A7C;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.single_sec:last-child
{
    margin-bottom: 0;
}

.bs_form
{
    border-radius: 23px;
border: 3px solid #7BC6E7;
background: #0B3A7C;
padding: 64px 36px;
}

.bs__form h2
{
    color: #FFF;
font-size: 32px;
font-family: 'tt_commonsbold';
font-style: normal;
font-weight: 700;
line-height: 35px;
margin: 57px 0 27px 0;
}

.bs_services
{
    padding: 88px 0 80px 0;
}
.bs_services_head h2
{
    color: #0B3A7C;
text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 66px;
}

.bs_services_head p
{
    color: #0B3A7C;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;

margin: 30px 0 71px 0;
}

.bs_services_head
{
    width: 920px;
    margin: 0 auto;
}

.bs__services
{
    padding-left: calc((100vw - 1217px) / 2);
}

.single_services
{
    width: 284px;
    flex-shrink: 0;
    user-select: none;
}

.sevices_head
{
    border-radius: 11px 11px 0 0;
background: #0B3A7C;
padding: 10px 20px;
min-height: 88px;
display: flex;
align-items: center;
flex-wrap: wrap;
color: #FFF;
font-family: 'tt_commonsbold';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px;
}

.services_img
{
    border-radius: 0 0 11px 11px;
    overflow: hidden;
    position: relative;
}


.services_img img {
    width: 100%;
    aspect-ratio: 284/325;
    object-fit: cover;
    pointer-events: none;
}

.services_content {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    z-index: 1;
}

a.bs_learnmore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 10px;
    align-items: center;
    border-radius: 10px;
background: #7BC6E7;
padding: 11px 17px;

color: #0B3A7C;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
transition: 0.3s;
}


.services_collapse {
    border-radius: 10px;
    background: #7BC6E7;
    padding: 15px 46px 15px 17px;
    color: #0B3A7C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    max-height: 277px;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.services_collapse::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .services_collapse{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.bs_learnmore[aria-expanded="true"] {
    font-size: 0;
    margin-bottom: -43px;
}

.bs_learnmore[aria-expanded="true"] svg path:last-child
{
    display: none;
}

.bs_learnmore[aria-expanded="true"] svg
{
    z-index: 9;
    position: relative;
}

.services_main {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    grid-gap: 22px;
    padding-right: 22px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.services_main::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .services_main{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.bs_redeem
{
    background: #0B3A7C;
    padding: 75px 0;
}

.bs__redeem
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 20px;
}

.bs__redeem h2
{
    flex: 1;
    color: #FFF;
    font-family: 'tt_commonsbold';
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 54px;
}

.bs__redeem h2 span
{
    font-family: 'tt_commonsmedium';
    font-weight: 500;
    color: #7CC7E7;
}

.bs_redeem_button
{
    width:  197px;
}

.each_services_img img
{
    width: 100%;
    
}

.each_services_img
{
    padding-right: 60px;
}

.each_content h3
{
    margin-bottom: 41px;
    color: #0B3A7C;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 66px;
margin-top: -15px;
}

.bs_eachservices
{
    padding: 102px 0 62px 0;
    background: #F2F8F8;
}

.bs_accordian *:focus
{
    box-shadow: none;
    outline: 0;
}

.bs_accordian .accordion-flush .accordion-item {
    border-radius: 9px;
    margin-bottom: 10px;
    border: 1px solid #0B3A7C !important;
    padding-bottom: 13px;
    background-color: transparent;
}

.bs_accordian .accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    box-shadow: none;
}

.bs_accordian .accordion-button
{
    color: #0B3A7C !important;
    font-size: 25px;
    font-style: normal;
    font-family: 'tt_commonsmedium';
    font-weight: 500;
    line-height: 27px;
    padding: 13px 18px 0 18px;
    background-color: transparent !important;
}

.bs_accordian .accordion-body
{
    padding: 16px 18px 0 18px;

    color: #0B3A7C;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}


.bs_accordian .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M0.815918 9.64819H18.6628' stroke='%230B3A7C' stroke-width='0.830088'/%3E%3Cpath d='M9.89062 0.573486L9.89062 18.4204' stroke='%230B3A7C' stroke-width='0.830088'/%3E%3C/svg%3E");
    height: 18px;
    width: 18px;
    background-size: contain;
}

.bs_accordian .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: none;
}

.bs_accordian .accordion-button:not(.collapsed)::after {
    transform: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M0.815918 9.64819H18.6628' stroke='%230B3A7C' stroke-width='0.830088'/%3E%3C/svg%3E");
}

.pest_control
{
    padding: 87px 0 115px 0;
}

.pest__control h2
{
    color: #0B3A7C;
text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 66px;
width: 810px;
margin: 0 auto;
}

.pest__control h5
{
    color: #0B3A7C;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height:24px;
margin: 25px 0 46px 0;
}

.pest__control h5 a
{
    font-weight: 700;
    font-family: 'tt_commonsbold';
    color: inherit;
}

.outer__video
{
    border-radius: 10px;
background: #F2F8F8;
}
.bs_slider
{
    padding: 49px 67px 59px 58px;
}

.bs_slider h4
{
    color: #0B3A7C;
    font-family: 'tt_commonsmedium';
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 27px;
}

.bs_slider  p
{
    color: #0B3A7C;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 22px;
margin-top: 30px;
}

.bs_slider p span
{
    font-weight: 500;
    font-family: 'tt_commonsmedium';
}

.appenddots ul.slick-dots {
    position: static;
    text-align: left;
    display: flex;
    grid-gap: 10px;
    margin-bottom: 41px;
}

.appenddots .slick-dots li button
{
    font-size: 0;
    height: 9px;
    width: 9px;
    border-radius: 100%;
    border: 1px solid #0B3A7C;
    padding: 0;
}

.appenddots .slick-dots li button::before
{
    display: none;
}

.appenddots .slick-dots li
{
    height: auto;
    width: auto;
    display: block;
    margin: 0;
}

.appenddots .slick-dots li.slick-active button
{
    background-color: #0B3A7C;
}

.outer_video
{
    padding: 0 60px 0 60px;
}

.video_sec
{
    position: relative;
}

.video_sec img
{
    width: 100%;
    border-radius: 10px;
}

.play_button svg
{
    width: 113px;
    height: auto;
}

.play_button
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.bs__footer h2
{
    color: #0B3A7C;
text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 66px;
margin-bottom: 62px;
}

.bs_footer
{
    background: #F2F8F8;
    padding: 93px 0 72px 0;
}

.single_list li
{
    color: #0B3A7C;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px;
}

.single_list li a
{
    color: inherit;
}
.outer_metro {
    width: 830px;
    margin: 0 auto 78px auto;
}

.location_div img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location_div
{
    border-radius: 10px;
    aspect-ratio: 590/347;
    width: 100%;
    overflow: hidden;
    border: 2px solid #7BC6E7;
}

.footer_logo
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-gap: 60px;
    margin-top: 78px;
}

.footer_logo img
{
    height: 99px;
}

.footer_logo li
{
    color: #0B3A7C;
text-align: center;
font-family: 'tt_commonsmedium';
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 25px;
}

.footer_logo li:not(:nth-child(2))
{
    margin-bottom: 20px;
}


.logo_365 img
{
    height: 73px;
    margin: 0 auto;
}

.bottom_content
{
    color: #0B3A7C;
    font-family: 'tt_commonsbold';
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 23px;
flex: 1;
}

.services_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 20px;
    padding-right: 100px;
    margin-top: 55px;
}





.logo_365 {
    width: 45%;
}