html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	font-family: 'TT Norms Pro';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* default css*/

.blog_outer h1
{
    color: #0B3A7C;
    font-size: 5.16175rem;
    font-weight: 700;
    line-height: 4.6455625rem;
    letter-spacing: -0.10325rem;
    font-style: normal;
}
.blog_outer h2
{
    color: #0B3A7C;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.06rem;
    font-style: normal;
}
.blog_outer h3
{
    color: #0B3A7C;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: -0.045rem;
    font-style: normal;
}
.blog_outer h4
{
    color: #0B3A7C;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: -0.045rem;
    font-style: normal;
}
.blog_outer h5
{
    color: #0B3A7C;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.635rem;
    font-style: normal;
}

.heading_1
{
    color: #0B3A7C;
    font-size: 5.16175rem;
    font-weight: 700;
    line-height: 4.6455625rem;
    letter-spacing: -0.10325rem;
    font-style: normal;
}
.heading_2
{
    color: #0B3A7C;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.06rem;
    font-style: normal;
}
.heading_3
{
    color: #0B3A7C;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: -0.045rem;
    font-style: normal;
}
.heading_4
{
    color: #0B3A7C;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: -0.045rem;
    font-style: normal;
}
.heading_5
{
    color: #0B3A7C;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.635rem;
    font-style: normal;
}

.default_body_large{
    color: #0B3A7C;
    font-size: 1.400125rem;
    font-weight: 450;
    line-height: 1.8901875rem;
    letter-spacing: -0.014rem;
    font-style: normal;
}

.default_body{
    color: #0B3A7C;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 1.54125rem;
    font-style: normal;
}
.default_caption_title{
    color: #0B3A7C;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.35rem;
}

.default_body_small{
    color: #0B3A7C;
    font-size: 0.9375rem;
    font-weight: 450;
    line-height: 1.265625rem;
    font-style: normal;
}
.default_caption_caps{
    color: #0B3A7C;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2075rem;
    text-transform: uppercase;
}
.default_caption_super_small{
    color: #0B3A7C;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1.0125rem;
}


.mb-39{
    margin-bottom: -2.4375rem;
}
.mt-39{
    margin-top: 2.4375rem;
}
.mt-46{
    margin-top:2.875rem !important;
}
.my-26{
    margin-top: 1.625rem;
    margin-bottom: 1.625rem;
}
.py-24{
    padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.color_dark_blue{
    color: #0E2648 !important;
}
.default_py{
	padding-top: 5.5rem;
	padding-bottom: 5.5rem;
}
.default_pb{
	padding-bottom: 5.5rem;
}
.default_pt{
	padding-top: 5.5rem;
}

/* default css close */

.bsky_banner_text a {
    color: inherit;
}

/**/
.orange_btn .get_btn {
    text-decoration: none;
    padding: 1rem 1.875rem;
    border-radius: 1.875rem;
    background: #FFB92E;
    color: #0A1A2F;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.009375rem;
	display: inline-flex;
    transition: 0.3s all;
    min-height: 3.4375rem;
    align-items: center;
    justify-content: center;
}
.orange_btn .get_btn:hover, .outline_btn .get_btn:hover {
    background: #7CC7E7;
    border-color: #7CC7E7;
}

.bsky_overall_wrapper {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
	padding: 0 3.75rem;
}
.bsky_header_top_outer {
    background: #0B3A7C;
}
.bsky_header_top_inner {
    padding: 0.9375rem 0rem;
}

.top_header_links {
    display: flex;
    flex-wrap: wrap;
	justify-content: flex-end;
    grid-gap: 2.1875rem;
	align-items: center;
}
.top_header_links li.dropdown {
    display: block;
}
.top_header_left_links p {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.00875rem;
	margin: 0;
}
.top_header_left_links p a {
    color: #7DC7E7;
    text-decoration: none;
}
.top_header_links li a {
    color: #FFF;
    letter-spacing: -0.009375rem;
    text-decoration: none;
}
.dropdown_arrow {
    display: flex;
    align-items: center;
	grid-gap: 0.4375rem;
}
.dropdown .dropdown_arrow::after{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M0.480957 1L4.74054 5.25958L9.00012 1' stroke='white'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	width: 0.625rem;
	height: 0.375rem;
    border: 0;
	margin: 0;
}
.dark_arrow.dropdown_arrow::after{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6' fill='none'%3E%3Cpath d='M0.865234 1L4.68257 4.81733L8.4999 1' stroke='%230B3A7C' stroke-width='0.896175'/%3E%3C/svg%3E");
	
}
.top_header_links li.nav-item.dropdown a:focus, .top_header_links li.nav-item.dropdown a:hover {
    color: #7DC7E7;
	background-color: transparent;
}
.top_header_links li.nav-item.dropdown ul.dropdown-menu {
    transform: translate(-1.125rem, 2.1875rem) !important;
    background-color: rgb(11, 58, 124);
    box-shadow: none;
    border: 0;
    border-radius: 0 0 1.25rem 1.25rem;
	min-width: 7.375rem;
	padding-top: 0;
	padding-bottom: 0.625rem;
}	
.top_header_links li.nav-item.dropdown ul.dropdown-menu a.dropdown-item {
    padding: 0.5rem 1.125rem;
    line-height: normal;
}
/* .top_header_links li.nav-item.dropdown ul.dropdown-menu a {
    color: #ffffff;
} */
/* .bsky_nav_links {
	flex: 1;
} */
.bsky_nav_links ul.navbar-nav {
    grid-gap: 2.1875rem;
}
.bsky_nav_links ul.navbar-nav a.nav-link {
    padding: 0;
}
.bsky_left_nav_links a.nav-link.active {
	font-weight: 700;
    color: #0B3A7C !important;
}
.bsky_left_nav_links a.nav-link {
    /* color: #0B3A7C !important;  */
    /* font-size: 1.375rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.01375rem; */
    line-height: 1.375rem   ;
}
.bsky_right_nav_links a.nav-link {
    color: #0B3A7C !important;
    line-height: 0.9375rem;
    letter-spacing: -0.009375rem;
}
.dropdown_arrow + .dropdown-menu.show .default_body_small:hover {
    color: #0b3a7c;
}
.bsky_header_bottom_inner nav.navbar {
    justify-content: center;
    grid-gap: 5.4375rem;
    padding: 2.125rem 0 1.25rem;
	align-items: flex-end;
}
.logo_div .desktop_logo {
    display: block;
    max-width: 9.25rem;
    width: 100%;
}
.bsky_nav_links {
    padding-bottom: 0.75rem;
	flex: 1;
}
.bsky_left_nav_links ul.navbar-nav {
    grid-gap: 3.5625rem;
}
.bsky_filter-list > ul {
    display: flex;
    align-items: center;
    grid-gap: 2.125rem;
}

.bsky_filter-list a {
    text-decoration: none;
    color: #0A1A2F;
    letter-spacing: -0.009375rem;
    transition: 0.3s all;
}
.bsky_filter_inner {
    padding: 0.9375rem 0.9375rem 0.9375rem 2.5rem;
    border-radius: 2.5rem;
    border: 0.0625rem solid #D2D2D2;
    background: #FFF;
    max-width: 65.0625rem;
    width: 100%;
    margin: 1.375rem auto 0;
    z-index: 1;
    position: relative;
}
.banner_small_video {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video_play {
    position: absolute;
    width: 4.9375rem;
    height: 4.9375rem;
    border-radius: 4.9375rem;
    background: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner_small_video > img {
    width: 100%;
    display: block;
    max-width: 22.8125rem;
    border: 0.2595625rem solid #F8F6F2;
    border-radius: 0.9375rem;
}
.common_h1 {
    color: #0B3A7C;
    text-align: center;
    font-size: 6.7578125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -0.2703125rem;
}
.bsky_banner_text h5, .bsky_banner_text h5 a {
    color: #0B3A7C;
    font-size: 1.400125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 135%;
    letter-spacing: -0.014rem;
	text-decoration: none;
}
.bsky_banner_text_footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	grid-gap: 2.125rem;
}
.customer_follow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	grid-gap: 0.5rem;
    flex: 1;
}
.bsky_banner_text {
    display: flex;
    flex-direction: column;
    grid-gap: 3.4375rem;
    padding-left: 2.9375rem;
}
.customer_follow p {
    color: #8099BD;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
.customer_follow img {
    max-width: 5.25rem;
    width: 100%;
    display: block;
}
.call_link {
    color: #0B3A7C;
    text-align: center;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    text-decoration: none;
}
.bsky_banner_inner {
    background-image: url(../images/cloud_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8.3125rem 5.25rem 4.625rem;
    border-radius: 0.9375rem;
    overflow: hidden;
}

/* section.bsky_banner {
    position: relative;
    top: -2.4375rem;
} */
/* .common_title h3 {
    color: #0B3A7C;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.045rem;
} */
.common_title_btn {
    color: #0B3A7C;
    text-align: center;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 135%;
    text-decoration-line: underline;
    display: table;
    margin-left: auto;
}

/* pets_categories */

ul.bsky_pets_categ_ul {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    grid-gap: 1.3125rem;
    overflow: auto;
}
.bsky_pets_categ_in {
    display: flex;
    width: 9.125rem;
    height: 11.0625rem;
    padding: 0.875rem 0rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5625rem;
    border-radius: 0.9375rem;
    border: 0.0625rem solid #D2D2D2;
    transition: 0.3s all;
}
.bsky_pets_categ_a:hover .bsky_pets_categ_in {
    background: rgba(210, 210, 210, 0.15);
}
.bsky_pets_categ_in img {
    height: 4.1875rem;
    object-fit: cover;
    width: auto;
    display: block;
}
/* .bsky_pets_categ_in p {
    color: #0B3A7C;
    text-align: center;
    font-size: 1.06075rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
} */
.bsky_pets_categ_a {
    text-decoration: none;
}
.common_title {
    margin-bottom: 3rem;
}
/* .bsky_common_pets {
    margin-top: 4.875rem;
    margin-bottom: 7.375rem;
} */

/* pets_categories close*/

/*our specialty*/

.bg_section {
    border-radius: 0.9375rem;
    background: #F2F8F8;
    padding: 3.75rem;
}
.specialty_card {
    position: relative;
    border-radius: 0.83875rem;
    overflow: hidden;
}
.specialty_card img {
    width: 100%;
    display: block;
}
.specialty_card_text {
    display: flex;
    flex-direction: column;
}
.specialty_card_text p {
    margin-bottom: 0.5rem;
}
.specialty_card_text h3 {
    margin-bottom: 2.6875rem;
    text-align: center;
}
.specialty_card_text {
    position: absolute;
    bottom: 3.125rem;
    left: 2.25rem;
    right: 2.25rem;
    align-items: center;
    z-index: 2;
}
.overlay_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(6, 31, 40, 0.00) 0%, rgba(0, 0, 0, 0.75) 100%);
}

/* .specialty_cards_inner {
    padding: 0 0.75rem;
} */
.specialty_cards_inner > .row {
    grid-gap: 1.25rem;
    justify-content: space-between;
}
.specialty_cards_inner > .row > .col-md-4 {
    width: calc(33% - 1.46875rem);
    padding: 0;
}
/*our specialty close*/

/* cta */

.outline_btn .get_btn {
    text-decoration: none;
    padding: 1rem 1.875rem;
    border-radius: 1.875rem;
    background: transparent;
    color: #ffffff;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.009375rem;
    display: table;
    margin-left: auto;
    border: 0.0625rem solid #ffffff;
    transition: 0.3s all;
}
.bsky_cta_outter {
    background-color: #0B3A7C;
}

.bsky_cta_inner .common_title {
    margin-bottom: 0;
}
.bsky_cta_inner .common_title h3 {
    color: #ffffff;
}
.bsky_cta_inner .common_title h3 .heading_small {
    font-weight: 500;
}
.bsky_cta_inner {
    padding: 3.0625rem 3rem;
}
/* .bsky_cta_inner .common_title h3:after {
    content: '';
    display: block;
    width: 9.0625rem;
    height: 0.1875rem;
    background-color: #7CC7E7;
    border-radius: 1.875rem;
    left: 0rem;
    position: relative;
} */
/* cta close*/

/* CTA Large */

.bsky_cta_large_inner > img {
    width: 100%;
    display: block;
    border-radius: 0.9375rem;
}
.bsky_cta_large_inner {
    position: relative;
}
.cta_large_text {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3.75rem;
    right: 3.75rem;
    justify-content: space-between;
    grid-gap: 9.0625rem;
}

.buss_broker_table .dynamic_table {
    margin-bottom: 0;
}
.blue_sky_logo {
    padding: 4.625rem 0.6875rem;
    max-width: 29.25rem;
    width: 100%;
    text-align: center;
}
h2.ft-48 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.06rem;
    display: inline-block;
}
.bsky_cta_large_text {
    width: 100%;
    max-width: 36.75rem;
    display: flex;
    flex-direction: column;
    grid-gap: 2.375rem;
}

/* CTA Large Close*/


/* huge text */
.huge_text {
    color: #0B3A7C;
    font-family: "TT Norms Pro";
    font-size: 5.6685rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.2834375rem;
    max-width: 76.9375rem;
    width: 100%;
    margin: 0 auto;
}
.huge_text .text_img {
    max-width: 8.75rem;
    display: inline-block;
    width: 100%;
}


/* huge text close */

/* zig zag  */

.img_side_img {
    width: 100%;
    display: block;
    border-radius: 0.9375rem;
    height: 100%;
    object-fit: cover;
}
.ft-48.color_blue, .color_blue {
    color: #0B3A7C !important;
}
.img_side_text {
    padding: 1.875rem 3.75rem;
}
.img_side_text .default_h2, .img_side_text .default_h3 {
    margin-bottom: 1.625rem;
}
.img_side_text .heading_5 {
    margin-bottom: 1.625rem;
}
.img_side_text .footer_btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1.75rem;
    margin-top: 3rem;
}
/* zig zag close */

.pera_des{
    color: #0E2648;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137%; /* 1.54125rem */
}

.link_btn {
    color: #0E2648;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 135%;
    text-decoration: none;
}


/* True Professionals */

.list_style li {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    grid-gap: 1rem;
    border-bottom: 0.0625rem solid #D2D2D2;
}
.list_style li span img {
    display: block;
    width: 0.875rem;
    height: auto;
    object-fit: contain;
}
.bsky_profesn_text .default_body {
    padding-bottom: 0.75rem;
}
.bsky_profesn_img{
    height: 100%;
}
.bsky_profesn_img img {
    display: block;
    max-width: 27.125rem;
    width: 100%;
    mix-blend-mode: multiply;
    height: 100%;
    object-fit: cover;
}
.bsky_profesn_text .heading_3{
    margin-bottom: 1.6875rem;
}
.bsky_profesn_inner {
    padding: 0 3.75rem;
}
.bsky_profesn_text {
    height: 100%;
    padding: 3.75rem 0;
}
.bsky_profesn_outter{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    grid-gap: 2.875rem;
}
.bsky_profesn_list {
    width: 100%;
}
/* True Professionals close */

.ft-36{
    color: #0B3A7C;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 2.25rem */
    letter-spacing: -0.045rem;
}
.common_h1 span {
    color: #7CC7E7;
}
.ft-22{
    color: #0E2648;
    font-size: 1.400125rem;
    font-weight: 400;
    line-height: 135%; /* 1.8901875rem */
    letter-spacing: -0.014rem;
}


/* testimonial */

.arizona_text {
    border-radius: 0.375rem;
    background: #F6F6F6;
    padding: 0.9375rem 0.5625rem 0.9375rem 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 14.5625rem;
    width: 100%;
    grid-gap: 0.75rem;
}
.arizona_text p {
    color: #0B3A7C;
    font-size: 0.728125rem;
    font-weight: 600;
    line-height: 124%;
    letter-spacing: -0.0145625rem;
    flex: 1;
}
.arizona_img {
    display: block;
}
.testimonial_sponsor ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 2.3125rem;
}
.bsky_huge_title .default_body_large {
    max-width: 35.875rem;
    width: 100%;
    margin: 2.75rem auto 1.875rem;
    text-align: center;
}
.testimonial_card_inner {
    padding: 2.1875rem 2.3125rem;
    border-radius: 0.9375rem;
    background: #F2F8F8;
    position: relative;
}

/* .customer_name {
    display: flex;
    align-items: center;
    grid-gap: 0.6875rem;
} */
.customer_name {
    display: flex;
    align-items: center;
    grid-gap: 0.6875rem;
    margin-top: 0.9375rem;
}
.customer_name p {
    color: #0B3A7C;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.4375rem;
}
.customer_name .customer_location {
    color: #A1AFC3;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0125rem;
}
.star_rating {
    margin-left: auto;
}
.star_rating img {
    display: block;
    max-width: 5.125rem;
}

.custoner_review {
    margin-top: 1.1875rem;
}
/* .customer_img {
    width: 3.375rem;
    height: auto;
    position: absolute;
    top: -1.875rem;
    right: 3.125rem;
} */
.customer_img {
    width: 3.375rem;
    height: auto;
    display: table !important;
    margin-left: auto;
    margin-top: -4.125rem;
    margin-right: 0.8125rem;
}
.testimonial_sponsor .rating_img {
    display: block;
}
.testimonial_card {
    padding-top: 1.6875rem;
}
.testimonial_sponsor {
    margin-bottom: 2.1875rem;
}
.testimonial_slider {
    margin: 0 -0.625rem;
}
.testimonial_card.slick-slide, .fellow_testimonial_card.slick-slide {
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

/* testimonial close*/

.bsky_zig_zag_inner .img_side {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.9375rem;
}
/* .bsky_zig_zag_inner .img_side p {
    position: absolute;
    bottom: 1.375rem;
    top: auto;
    left: 1.4375rem;
    z-index: 2;
} */
.bsky_zig_zag_inner .img_side .overlay_img{
    /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 71.5%, rgba(0, 0, 0, 0.44) 100%), #D9D9D9; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 71.5%, rgba(0, 0, 0, 0.44) 100%);
    z-index: 1;

}
.approch_text .list_style {
    margin: 2.5625rem 0;
}
.approch_text .list_style li {
    margin-top: 0;
}
.approch_text h5 {
    letter-spacing: -0.030125rem;
    text-transform: inherit;
}
h5.pera_des {
    font-size: 1.381625rem;
    font-weight: 400;
    line-height: 1.7270625rem;
}

.bsky_serving_text {
    max-width: 54rem;
    width: 100%;
    margin-left: auto;
}

.serving_img img {
    width: 100%;
    display: block;
    border-radius: 0.9375rem;
}
.serving_img {
    position: relative;
}
.serving_tag {
    border-radius: 1.875rem;
    background: #0B3A7C;
    color: #FFF;
    padding: 0.625rem 1.15625rem;
    text-decoration: none;
    position: absolute;
    top: 3.0625rem;
    left: 3.375rem;
    transition: 0.3s all;
}
.serving_tag:hover{
    background: #7CC7E7;
}
/* .bsky_our_specialty_inner .common_title_btn {
    max-width: 9.25rem;
    width: 100%;
} */

/* footer */

.main_footer {
    background: #0B3A7C;
    padding: 3.75rem 0rem 3.4375rem;
}
.first_column img {
    width: 10.625rem;
    height: 4.6875rem;
    object-fit: cover;
    display: block;
    margin-bottom: 0.375rem;
}
.footer_column_box .footer_column_title {
    color: #7CC7E7;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    margin-bottom: 1.125rem;
    display: inline-block;
}
.footer_column_box > p {
    color: #FFF;
}
.footer_column {
    display: flex;
    flex-direction: column;
    grid-gap: 3.4375rem;
}
.footer_column_box .footer_big_text  {
    color: #FFF;
    font-size: 2.0730625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.0414375rem;
}
.first_column {
    padding-right: 10.0625rem;
}
.footer_column_box ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1.125rem;
    align-items: center;
    max-width: 14.625rem;
}
.footer_column_box ul img {
    display: block;
}
.sec_column_inner {
    display: flex;
    flex-direction: column;
    grid-gap: 3.8125rem;
}
.third_column {
    padding-left: 3.375rem;
}
.footer_column_box .list_one_ul {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 0.8125rem;
}
.footer_column_box .list_one_ul li {
    line-height: normal;
    display: inline-flex;
}
.list_one_ul a {
    text-decoration: none;
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.7875rem;
}
.forth_column .footer_column_box {
    display: flex;
    align-items: flex-start;
    grid-gap: 7.5625rem;
    padding-left: 6.25rem;
}
.sub_footer_links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 1.75rem;
}
.sub_footer_links {
    padding-top: 6.25rem;
}
.sub_footer_links ul li, .sub_footer_links ul li a  {
    color: #7CC7E7;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    text-decoration: none;
}
/* footer close*/

.ft-82{
    color: #0B3A7C;
    font-size: 5.16175rem;
    font-weight: 700;
    line-height: 90%; /* 4.6455625rem */
    letter-spacing: -0.10325rem;
    margin-bottom: 1.5625rem;
    margin-top: 2.75rem;
}
.bg_section .flex-row-reverse .approch_text {
    padding: 0;
    padding-right: 3.75rem;
}
.small_gray{
    color: #808D9E !important;
    padding-left:2rem;
}
.clickable_card{
    position: relative;
}
.clickable_card {
    position: relative;
    border-radius: 0.9375rem;
    border: 0.0625rem solid #D2D2D2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 0.3s all;
    grid-gap: 1.125rem;
}
.clickable_card:hover, .bsky_blog_card:hover {
    background: rgba(210, 210, 210, 0.15);
}
.learn_more {
    margin-top: auto;
    color: #0B3A7C;
    font-size: 1.0589375rem;
    font-weight: 600;
    line-height: 97%;
    text-decoration-line: underline;
}
.clickable_card_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 1.125rem;
}
.clickable_card_inner .card_icon {
    max-height: 4.25rem;
    object-fit: contain;
}
/* .bsky_clickable_card_inner > .row {
    margin: 0 -0.625rem;
}

.bsky_clickable_card_inner > .row > .col-md-4 {
    padding: 0 0.625rem;
} */

.bsky_clickable_card_inner > .row > .col-md-4 {
    padding: 0.625rem;
}
.bsky_clickable_card_inner > .row{
    margin: -0.625rem;
}
.clickable_card_inner .default_h4 {
    font-weight: 700;
}


.testimonial_without_ttl .testimonial_card_inner {
    padding: 2.3125rem 2.3125rem 1.875rem;
    background: transparent;
    border: 0.0625rem solid #D2D2D2;
}
.faqs_text_side .approch_text {
    display: flex;
    flex-direction: column;
    padding: 0 3.75rem 0 0;
}
.faqs_text_side .ft-48 {
    margin-bottom: 2.4375rem;
}
.faqs_accordion_side .img_side_text {
    padding: 0;
}
.faqs_accordion_side .accordion-item {
    border: 0;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.50);
    border-radius: 0;
    background-color: transparent;
}
.bsky_faqs_inner {
    background: #0B3A7C;
    padding: 4.5625rem 3.75rem;
}
.faqs_accordion_side .accordion-item .accordion-button {
    background-color: transparent;
    color: #FFF;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    outline: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}
.faqs_accordion_side .accordion-item .accordion-button > span {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.4045rem 0rem 0.4045625rem 0rem;
    background: #fff;
    display: flex;
    justify-content: center;
    color: #0B3A7C;
    font-size: 0.884875rem;
    font-weight: 600;
    line-height: 1rem;
    border-radius: 3.125rem;
    margin-right: 1.25rem;
}
.faqs_accordion_side .accordion-item .accordion-body {
    padding: 0 3rem 1.25rem;
    color: #7CC7E7;
    font-weight: 400;
}
.faqs_accordion_side .accordion-item .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'%3E%3Cpath d='M1.31836 1.15625L6.84386 7.88428L13.0001 1.72808' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E");
    background-size: 0.875rem;
    background-repeat: no-repeat;
    background-position: center;
}
.accordion-button.collapsed::after {
    transform: rotate(-90deg) !important;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(-0deg) !important;
}

.without_avtar .testimonial_card {
    padding-top: 0;
}
.without_avtar .slick-track {
    display: flex;
    align-items: center;
}
.without_avtar .testimonial_card_inner {
    padding: 2.125rem 3.75rem;
}
.bsky_blog_card_item img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
}
/* .blog_card_text h4 {
    color: #0B3A7C;
    font-size: 1.400125rem;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.014rem;
} */
.blog_card_text .default_body_small {
    margin-top: 0.625rem;
}
.bsky_blog_card_item {
    display: flex;
    flex-direction: column;
    grid-gap: 1.75rem;
}
.bsky_blog_card {
    border-radius: 0.9375rem;
    border: 0.0625rem solid #D2D2D2;
    background: #FFF;
    padding: 1.875rem;
    transition: 0.3s all;
}
.list_style.ft-15 li{
    font-size: 0.9375rem;
}
.ant-control {
    padding-right: 3.875rem;
}

.fellow_testimonial .customer_img {
    top: 0;
    position: inherit;
    right: 0;
    left: auto;
    display: table;
    margin-left: auto;
}
.fellow_testimonial_card_inner {
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 19.75rem;
    border-radius: 0.9375rem;
    border: 0.0625rem solid #D2D2D2;
}
.client-details {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.fellow_testimonial_card_inner .customer_img {
    position: static;
    margin-top: 0;
    margin-right: 0;
}
.fellow_testimonial_card_inner .customer_name {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 0.5rem;
}
.fellow_testimonial_card_inner .custoner_review {
    font-size: 1.125rem;
    line-height: 1.54125rem;
    margin-top: 1.3125rem;
}
.fellow_testimonial_card_inner .star_rating {
    margin-top: auto;
    margin-left: 0;
}
.img_side_text_new h5.pera_des {
    text-transform: inherit;
    color: #0E2648;
}
/* .small_para {
    color: #0E2648;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
} */
.img_side_text_new {
    padding: 0 3.75rem;
}

.blue_card_inner {
    padding: 2.125rem 3.75rem;
    border-radius: 0.9375rem;
    background: #F2F8F8;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;

}

.blue_card_content{
    color: #0E2648;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.265625rem;
    margin-top: 0;
    margin-bottom: 0;
}
.blue_card {
    height: 100%;
}
.notice_card_inner {
    border-radius: 0.9375rem;
    border: 0.0625rem solid #D2D2D2;
    padding: 3rem 3.75rem;
}
.notice_card_content{
    color: #0B3A7C;
}
.custom_gap {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.5625rem;
    margin-top: 1.5625rem;
}
.custom_gap > .col-md-6 {
    width: calc(50% - 0.625rem);
}
.custom_gap > .col-md-4 {
    width: calc(33.3% - 0.8125rem);
}
.custom_gap > .col-md-3 {
    width: calc(25% - 0.9375rem);
}
.bsky_consultation_inner > img {
    display: block;
    width: 100%;
    border-radius: 0.9375rem;
}

.bsky_consultation_inner {
    position: relative;
}
.bsky_consultation_text {
    position: absolute;
    top: 0;
    left: 3.75rem;
    right: 3.75rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.consultation_cont {
    width: 100%;
    max-width: 36.75rem;
    margin-right: auto;
}
.bsky_consultation_text img {
    max-width: 13.75rem;
    display: block;
    margin: auto;
    height: 100%;
}
.bsky_consultation_text .row{
    width: 100%;
}
.consultation_cont .pera_des {
    color: #ffffff;
    margin-top: 2.6875rem;
}
.consultation_cont .orange_btn {
    margin-top: 2.375rem;
}
.cta_content_left {
    display: flex;
    align-items: center;
    grid-gap: 1.8125rem;
}
.cta_content {
    max-width: 36.25rem;
    width: 100%;
}
.bsky_cta_inner2{
    padding: 1.875rem 3rem;
}
.specialty_cards_inner > .row > .col-md-6 {
    flex: 1;
}
.img_side_text_new hr {
    margin: 1.625rem 0;
}
.form_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form_btn .get_btn {
    margin-left: 0;
    border-color: #0E2648;
    color: #0E2648;
    margin-right: 0.375rem;
}
.bookform form input:not([type="radio"]) {
    border-radius: 0.625rem;
    border: 0.0625rem solid #EBEBEB;
    background: #FFF;
    padding: 0.9375rem 0.8125rem 0.9375rem 1.125rem;
    margin-bottom: 0.625rem;
}
.bookform form input::placeholder, .bookform form textarea::placeholder{
    color: #0E2648;
}
.bookform form input::-ms-input-placeholder , .bookform form textarea::placeholder{
    color: #0E2648;
}
.bookform form textarea {
    padding: 0.9375rem 1.125rem;
    margin-bottom: 1.5625rem;
    border: 0.0625rem solid #EBEBEB;
}
.table_side.bg_section {
    padding: 5.25rem 6.0625rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.form_title {
    color: #0B3A7C;
    text-align: center;
    font-size: 1.841rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.0368125rem;
    margin-bottom: 3.875rem;
}
.form_title a {
    display: inline-block;
    font-weight: 400;
    margin-top: 0.8125rem;
    color: #0B3A7C;
    letter-spacing: -0.0368125rem;
    text-decoration: none;
}
.customer_follow .brand_icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 1.25rem;
}
.brand_icons li img {
    height: 1.9375rem;
}
.common_title .small_para {
    max-width: 36.4375rem;
    width: 100%;
    margin-left: auto;
}
.sec-border {
    border-radius: 0.9375rem;
    border: 0.0625rem solid #D2D2D2;
    background: #FFF;
    padding: 2.1875rem 2.1875rem 4.125rem 5.625rem;
}
.bsky_huge_video_inner .video_banner{
    width: 100%;
    display: block;
    border-radius: 0.9375rem;
}
.bsky_huge_video_inner {
    position: relative;
}
.play_btn {
    width: 6.3125rem;
    height: 6.3125rem;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.full_bg_blue{
    background-color: #0b3a7c;
    padding-top: 6.5625rem;
}
.bsky_huge_video {
    margin-bottom: -5rem;
}
.full_bg_blue .faqs_text_side .heading_2 {
    margin-bottom: 1.5625rem;
}
.full_bg_blue .faqs_text_side .approch_text {
    padding: 0 2.8125rem 0 0;
}
.full_bg_blue .faqs_text_side .approch_text .pera_des {
    margin-bottom: 2.4375rem;
}
.center_title {
    text-align: center;
}
.center_title p {
    color: #0B3A7C;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 137%;
    max-width: 35.375rem;
    margin: 2.125rem auto 0rem;
}
.bluebg_card {
    border-radius: 0.9375rem;
    background: #FFF;
    padding: 0.9375rem 1.5625rem;
    height: 100%;
    min-height: 15.3125rem;
}
.bluebg_card_inner .pera_des {
    color: #0B3A7C;
    font-size: 1.1440625rem;
    font-weight: 400;
    line-height: 120%;
}
.bluebg_card_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-gap: 1rem;
}
.bluebg_card_small {
    color: #0B3A7C;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
.blue_card_gap {
    margin-top: 1.6875rem;
}
.gray_text {
    color: #D2D2D2;
}
.blue_line {
    position: relative;
    text-decoration: underline;
    text-decoration-color: #7CC7E7;
    text-decoration-thickness: 0.1875rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
/* .blue_line:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1875rem;
    background-color: #7CC7E7;
    border-radius: 1.875rem;
    left: 0;
    position: absolute;
    z-index: -1;
} */
.bluebg_card_title{
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.03rem;
}
.bluebg_count {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.125rem;
    background-color:#0b3a7c;
    color: #FFF;
    font-size: 0.884875rem;
    font-weight: 600;
    line-height: 1rem;
    margin-bottom: 0.4375rem;
}
.count_card .bluebg_card{
    padding: 2.25rem 1.8125rem 2.25rem;
}
.color_orange{
    background-color: #FF9900;
}
.color_pink{
    background-color: #D381AD;
}
.color_lavender{
    background-color: #8D81D3;
}
.color_green{
    background-color: #88C980;
}
.common_banner .img_side_text {
    padding: 3rem 0 3rem 5rem;
}
.bsky_filter-list .active{
    font-weight: 700;
}

.clickable_card.blue_bg {
    background-color: #0B3A7C;
    align-items: center;
    justify-content: center;
    grid-gap: 4rem;
}
.blue_bg_btn .get_btn {
    color: #0E2648;
    text-align: center;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.4375rem;
    border-radius: 3.75rem;
    background: #FFF;
    padding: 1rem 1.4375rem;
    text-decoration: none;
    min-height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bg_light_blue{
    background: linear-gradient(0deg, #F2F8F8 0%, #F2F8F8 100%), #E9F7FD !important;
    border: 0 !important;
}
.bg_light_gray{    
    background: #F7F7F7 !important;
    border: 0 !important;
}

.arizona_logos ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 2.3125rem;
}
.arizona_logos {
    position: absolute;
    bottom: 2.25rem;
    left: 2.375rem;
    right: 2.375rem;
    z-index: 1;
}
.arizona_logos ul .arizona_text{
    max-width: 100%;
    width: 19.125rem;
    padding: 1.1875rem;
}
.arizona_logos ul .arizona_text p {
    color: #0B3A7C;
    font-size: 0.959125rem;
    font-weight: 600;
    line-height: 124%;
    letter-spacing: -0.0191875rem;
}
.arizona_logos .arizona_img {
    width: auto;
    height: 2.3125rem;
}
.icon_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap:2.3125rem;
    margin-bottom: 2.1875rem;
}
.icon_title_icon {
    width: 4.6875rem;
    height: auto;
    display: block;
    object-fit: contain;
    max-width: 100%;
}
.icon_title_main {
    flex: 1;
    color: #0B3A7C;
    font-size: 2.6541875rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.0530625rem;
}
.icon_wd_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.125rem;
    border: 0.0625rem solid #D2D2D2;
    background: #FFF;
    padding: 5.25rem 4.25rem 3.75rem;
}
.without_bg_faq .bsky_faqs_inner {
    background-color: transparent;
}
.without_bg_faq .faqs_accordion_side .accordion-item .accordion-button {
    color: #0B3A7C;
}
.without_bg_faq .faqs_accordion_side .accordion-item .accordion-button > span {
    background-color: #0B3A7C;
    color: #ffffff;
}
.without_bg_faq .faqs_accordion_side .accordion-item {
    border-color: #0B3A7C;
}
.faqs_text_side .pera_des {
    margin-bottom: 2.4375rem;
}
.without_bg_faq .faqs_accordion_side .accordion-item .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='14' viewBox='0 0 7 14' fill='none'%3E%3Cpath d='M0.550781 12.8479L7.00061 7.00006L0.550781 1.15222' stroke='%230B3A7C'/%3E%3C/svg%3E");
    background-size: 0.5rem;
}

.without_bg_zig .list_style {
    margin: 1.625rem 0;
}
.without_bg_zig .approch_text h5 {
    font-weight: 600;
}
.footer_address_inner .default_body_large {
    color: #62B2D3;
    margin-bottom: 0.9375rem;
}
/* .footer_address_inner p{
    color: #0E2648;
    font-size: 1rem;
    font-weight: 500;
    line-height: 125%; 
} */
.footer_address_inner {
    width: 11.25rem;
}
.common_banner-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer_address.row {
    margin-top: 5.25rem;
}
.contact_sec .img_side_text h5 {
    margin-bottom: 1.625rem;
}
.contact_sec .img_side_text .ft-82{
    margin-top: 0rem;
}
.contact_sec.common_banner .img_side_text {
    padding: 1rem 0 1.625rem 5rem;
}
.contact_form_title .default_body_large {
    color: #62B2D3;
    text-decoration: none;
}
.contact_form_title img {
    display: block;
    max-width: max-content;
    width: 100%;
    height: 4.4375rem;
}
.contact_form_title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2.9375rem;
}
.lets_chat .bsky_profesn_inner {
    padding: 2.875rem 2.25rem 0rem 4.875rem;
}
.lets_chat .table_side {
    margin-bottom: 3.5rem;
    max-width: 42rem;
    width: 100%;
}
.lets_chat .bsky_profesn_img img {
    max-width: max-content;
}
.contact_form_gap .col-md-6, .contact_form_gap .col-md-12 {
    padding: 0.3125rem 0.1875rem;
}
.contact_form_gap {
    margin: -0.3125rem -0.1875rem;
}
.contact_form_gap input {
    margin-bottom: 0 !important;
}
.approch_text h5 > span {
    color: #0B3A7C;
    font-size: 1.0625rem;
    font-weight: 600;
    margin-left: 0.9375rem;
    line-height: 135%;
}
.common_card img {
    margin-bottom: 1.375rem;
}
.common_card .heading_5 {
    color: #0B3A7C;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 109%;
    margin-bottom: 0.9375rem;
}
/* .common_card .default_body_small {
    color: #0B3A7C;
    font-size: 0.9425625rem;
    font-style: normal;
    font-weight: 450;
    line-height: 137%;
} */
.common_card_inner .col-md-3 {
    padding: 1.4375rem;
}
.common_card_inner .row {
    margin: -1.4375rem;
}
.brand_slider .slick-slide img {
    width: 100%;
    height: 3.75rem;
}
.brand_slider .slick-track {
    display: flex;
    grid-gap: 6.4375rem;
}   
ul.brand_slider {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 6.5625rem;
}

/* blog page */

.tabs_list .nav-pills {
    justify-content: flex-end;
    grid-gap: 0.625rem;
}
.tabs_list .nav-pills .nav-item .nav-link {
    border-radius: 1.1765625rem;
    border: 0.0588125rem solid #EBEBEB;
    background: #FFF;
    min-width: 9.25rem;
    min-height: 3.8125rem;
    color: #0B3A7C;
    text-align: center;
    line-height: 97%;
}

.tabs_list .nav-pills .nav-item .nav-link.active, 
.tabs_list .nav-pills .nav-item .nav-link:hover {
    background: #F2F8F8;
    border-color: #F2F8F8;
}
.read_link {
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: 135%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-top: 1.3125rem;
    display: inline-block;
}
.blog_card_text .small_gray {
    padding-left: 0;
    text-align: left;
    margin-bottom: 1.3125rem;
    margin-top: 0.5625rem;
}
.blog_card_text .small_gray a {
    text-decoration: none;
    color: #808D9E !important;
    transition: 0.3s all;
}
.blog_card_text .small_gray a:hover{
    color: #0B3A7C !important;
}
.tab-content .tab-pane > .row  {
    margin: -0.625rem;
}
.tab-content .tab-pane > .row > .col-md-4 {
    padding: 0.625rem;
}
.blog_form_inner {
    padding: 1.875rem 3.75rem;
    border-radius: 0;
    background: #F2F8F8;
    height: 100%;
    display: flex;
    align-items: center;
}
.blog_form {
    height: 100%;
}
.pagination_outter li .page-link {
    color: #0E2648;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.434375rem;
    border: 0;
    padding: 0;
}
.pagination_outter li .page-link:hover, .pagination_outter li .page-link.active{
    background-color: transparent;
    color: #7CC7E7;
}
.pagination_outter .pagination {
    justify-content: center;
    margin-top: 4.125rem;
    grid-gap: 3.125rem;
}
.tab-content .blog_card_text h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

/* blog page close*/


/* blog details  */

.blog_outer img {
    width: 100%;
    border-radius: 0.9375rem;
    display: block;
    margin-bottom: 1.125rem;
    margin-top: 2rem;
}
.custom_breadcrumb .breadcrumb-item {
    color: #808D9E;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 135%;
}
.custom_breadcrumb .breadcrumb-item:not(:last-child) a {
    color: #0B3A7C;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 138%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: uppercase;
}
.custom_breadcrumb .breadcrumb-item:last-child a {
    color: inherit;
}
.custom_breadcrumb .breadcrumb-item + .breadcrumb-item::before{
    content: normal;
}
.custom_breadcrumb {
    margin-bottom: 2.3125rem;
}

.blog_outer h3{
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 0.625rem;
    margin-top: 2.8125rem;
    color: #0B3A7C;
    font-weight: 700;
}
.blog_outer h4{
    font-size: 1.5rem;
    line-height: 1.635rem;
    margin-bottom: 0.625rem;
    margin-top: 2.8125rem;
    color: #0B3A7C;
}
.blog_outer h5{
    font-size: 1.375rem;
    line-height: 1.875rem;
    margin-bottom: 0.625rem;
    margin-top: 1.125rem;
    color: #0B3A7C;
}
.blog_outer p {
    color: #0E2648;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 137%;
    margin-top:1.125rem;
    margin-bottom: 1.125rem;
}
.blog_outer ul {
    list-style: disc;
    padding-left: 1.25rem;
    margin-bottom: 2.5rem;
}
.blog_outer ul li {
    margin-bottom: 1.125rem;
    color: #0E2648;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137%;
}
.bookform h4 .orange_btn {
    margin: 1.9375rem 0 2.8125rem;
}
.bookform .blog_quote {
    font-weight: 600;
    margin-bottom: 1.5625rem;
}
.blog-details .blog_form_inner {
    padding: 3.5rem 2.9375rem 3.0625rem;
    border-radius: 0.9375rem;
}
.blog-details .blog_form_inner .small_gray {
    display: table;
    margin: 2.375rem auto 0;
}
.blog_outer {
    padding-right: 3.125rem;
}
.blog_categories_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 2.0625rem;
}
.blog_categories_inner a{
    text-decoration: none;
    margin-bottom: 1.375rem;
    display: inline-block;
}
.blog_categories {
    padding-top: 3.75rem;
}
/* blog details close */

.outline_btn .get_btn:hover {
    border-radius: 1.875rem;
    border: 0.0625rem solid #0E2648;
    background: #0E2648;
    color: #ffffff;
}



/*location*/
.bsky_location_inner {
    max-width: 73.875rem;
    margin: 0 auto;
    width: 100%;
}
.bsky_location_card {
    position: relative;
}
.bsky_location_card img {
    width: 100%;
    display: block;
    border-radius: 0.9375rem;
    height: 25rem;
    max-height: 100%;
    object-fit: cover;    
}
.bsky_location_card .serving_tag {
    bottom: 2.75rem;
    left: 2.5625rem;
    top: auto;
}
.btn_wd_link{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 2.875rem;
}
.opertn_content p {
    max-width: 16rem;
    color: #0E2648;
    width: 100%;
}
.opertn_hour .default_body_small{
    color: #0E2648;
}
.bsky_location_content .btn_wd_link {
    margin-top: 3.75rem;
}
.bsky_location_content hr{
    margin: 1.875rem 0;
}
.bsky_location_content .heading_2 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-bottom: 1.25rem;
}
.bsky_location_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}
.bsky_location_inner .common_title > .default_caption_caps , .bsky_resources_inner .common_title > .default_caption_caps{
    margin-bottom: 1.875rem;
}
/* location close */


.text_wd_btn .default_h5 {
    margin-bottom: 1.5rem;
}
.text_wd_btn .default_h2 {
    margin-bottom: 1.5rem;
}
.text_wd_btn .orange_btn {
    margin-top: 1.5rem;
}
.text_wd_btn .default_body_large {
    padding-right: 3.3125rem;
}
.list_group a {
    text-decoration: none;
    margin-bottom: 1.375rem;
    display: inline-block;
}
.list_group {
    display: flex;
    grid-gap: 1.3125rem;
    justify-content: space-between;
}
.list_group_flush {
    flex: 1;
}
.resources_link .heading_2 {
    margin-bottom: 3.8125rem;
}

.say_hi .bsky_profesn_inner {
    padding: 2.875rem 5.875rem 4.375rem;
    max-width: 54.625rem;
    width: 100%;
    margin: 0 auto;
}
.bsky_profesn_inner label {
    color: #0E2648;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 137%;
}
.contact_form_gap .my-26 > label {
    margin-right: 2.4375rem;
}
.common_title .default_body_large {
    max-width: 32.875rem;
    margin: 1.6875rem auto 2.375rem;
    width: 100%;
}
.img_side_text .default_h1{
    margin-bottom: 1.5625rem;
}
.flex_list {
    display: flex;
    grid-gap: 1.375rem;
    flex-wrap: wrap;
}
.flex_list .list_style {
    flex: 1;
}
a.list_anchor {
    color: #0B3A7C;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 135%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
/* .bsky_zig_zag_inner.border_section {
    border: 0.0625rem solid #D2D2D2;
    border-radius: 0.9375rem;
    overflow: hidden;
} */

.zig_zag_border .bsky_cta_inner.border_section {
    padding: 2.9375rem 0 0;
}
.zig_zag_border {
    border-radius: 0.9375rem;
    border: 0.0625rem solid #D2D2D2;
    overflow: hidden;
    padding-top: 2.9375rem;
}
/* .zig_zag_border .img_side_text_new {
    padding: 1.25rem 3.75rem;
} */
.bsky_zig_zag_inner.border_section {
    padding-right: 2.9375rem;
}
.common_title .heading_4 {
    font-weight: 700;
}
.bsky_pets_categ_in p.default_caption_title {
    font-weight: 600;
}
.img_side_text .default_caption_caps {
    margin-bottom: 1.625rem;
}
.img_side_text .heading_2 {
    margin-bottom: 1.625rem;
}
.img_side_text .default_body {
    margin-top: 1.625rem;
}
.img_side_text .heading_2 + .default_body {
    margin-top: 0;
    margin-bottom: 1.5625rem;
}
.img_side_text .default_body_large {
    margin-bottom: 1.5rem;
}
.faqs_text_side .orange_btn {
    margin-top: 0.9375rem;
}
.faqs_accordion_side .heading_5 {
    letter-spacing: 0;
    margin-bottom: 1.25rem;
}
.table_side input[type="text"] {
    margin-bottom: 0.875rem;
}
.img_side_text .default_body.text-white {
    margin: 0;
    margin-bottom: 1.5625rem;
}
.border_section .bsky_profesn_outter {
    padding-top: 0.75rem;
}
.footer_map {
    width: 100%;
    display: block;
}
.bsky_history_item_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 7.5rem;
}
.bsky_history_item {
    padding: 3.25rem 2.75rem;
    border-radius: 0.9375rem;
    border: 0.0588125rem solid #D2D2D2;
    background: #FFF;
}
.menu_mega_outter{
    position: absolute;
    /* top: 100%; */
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    right: 0;
    border: 0.0625rem solid #D2D2D2;
    background: #FFF;
    margin-right: -0.0625rem;
    margin-left: -0.0625rem;
    padding-top: 3.125rem;
    padding-left: 2.5rem;
    padding-right: 0.9375rem;
}
.menu_mega {
    border-top: 0.0625rem solid #D2D2D2;
    padding-top: 2.0625rem;
    padding-bottom: 1.5625rem;
}

.hover_li:hover .menu_mega_outter {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-radius: 0 0 2.5rem 2.5rem;
    transition: 0.5s;
    border-top: 0;
}
.bsky_filter_inner:has(.hover_li:hover) {
    border-radius: 2.5rem 2.5rem 0 0;
    transition: 0.5s;
    border-bottom: 0 !important; 
}

.bsky_filter_inner .orange_btn {
    position: relative;
    z-index: 1;
}
.menu_mega_links {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2.8125rem;
}
.menu_mega_links ul {
    flex: 1;
}
.menu_mega_address {
    max-width: 15.9375rem;
    width: 100%;
}
.menu_mega_address .default_body {
    color: #000000;
    font-weight: 700;
}
.menu_mega_address .default_body_small {
    padding: 0.625rem 0 1.25rem;
}
.menu_title {
    color: #000000;
    font-weight: 700;
    margin-bottom: 0.625rem;
}
.menu_mega ul {
    display: flex;
    flex-direction: column;
    grid-gap: 1.125rem;
}
.bsky_filter-list a:hover {
    color: #7DC7E7;
}
.video_play img {
    width: 4.9375rem;
    height: 4.9375rem;
}
.blue_sky_logo img {
    max-width: 100%;
    width: 13rem;
}
.specialty_cards_slider {
    margin-right: -40px;
}
.specialty_cards_slide {
    margin-right: 40px;
}
.specialty_cards {
    overflow: hidden;
}

.img_side_text.approch_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.clickable_card_slider {
    margin-right: -19px;
}
.clickable_card_slide {
    margin-right: 19px;
    height: auto;
}

.bsky_right_nav_links .hover_li:hover .menu_mega_outter {
    width: calc(100% - 360px);
    margin: 0 auto;
    z-index: 2;
    top: 100%;
    padding-top: 0;
}
.bsky_right_nav_links .nav-item.dropdown.hover_li {
    position: static;
}
.clickable_card_slider  .slick-track {
    display: flex;
}