@media only screen and (max-width:1199px){
    .bsky_header_top_inner {
        padding: 15px 30px;
    }
    .bsky_header_bottom_inner nav.navbar {
        padding: 34px 30px 20px;
    }
}
@media only screen and (max-width:991.5px){
    .bsky_left_nav_links a.nav-link {
        font-size: 18px;
    }
    .bsky_header_bottom_inner nav.navbar {
        padding: 34px 20px 20px;
        grid-gap: 40px;
    }
    .bsky_left_nav_links ul.navbar-nav {
        grid-gap: 30px;
    }
}

@media only screen and (max-width:767.5px){
	.bsky_nav_links {
		display: none;
	}
	.bsky_header_bottom_inner nav.navbar {
		align-items: center;
		justify-content: space-between;
	}
	.mobile_btn {
		grid-gap: 20px;
	}
	.mobile_btn .free_quote_btn {
		display: inline-flex;
		max-width: 103px;
		width: 100%;
		height: 28px;
		padding: 7.809px 11.358px;
		justify-content: center;
		align-items: center;
		gap: 7.099px;
		flex-shrink: 0;
		border-radius: 20px;
		background: #FFB92E;
		color: #0A1A2F;
		font-size: 10px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -0.1px;
	}
	.navbar-toggler-icon {
		background-image: unset;
	}
	.logo_div .desktop_logo {
		display: block;
		max-width: 93px;
		width: 100%;
	}
	.mobile_btn .navbar-toggler {
		padding: 0;
		border: 0;
	}
	.mobile_btn .navbar-toggler svg {
		height: 100%;
	}
	.mobile_btn {
		grid-gap: 20px;
		flex: 1;
		justify-content: flex-end;
	}
}