/* placed on Top */

@media only screen and (max-width:1400px)
{
	:root
    {
        font-size:93.7%;
    }
	.testimonial_without_ttl {
		padding-top: 1.494rem;
	}
}

@media only screen and (max-width:1344.90px)
{
    /* screen size 1200px */
	:root {
		font-size: 83.6%;
	}
	
}

@media only screen and (max-width:1199.90px)
{
	.heading_1 {
		font-size: 4.66175rem;
		line-height: 4.1455625rem;
	}
	
	.heading_2 {
		font-size: 2.9rem;
		line-height: 2.9rem;
	}






	.bsky_filter_inner {
		max-width: 58.0625rem;
	}
	.bsky_overall_wrapper {
		padding: 0 1.75rem;
	}

	.bsky_banner_inner {
		padding: 8.3125rem 2.85rem 4.625rem;
	}
	.bg_section {
		padding: 3.75rem 2.85rem;
	}
	.bsky_profesn_inner {
		padding: 0 2.85rem;
	}
	.first_column {
		padding-right: 6.0625rem;
	}
	.specialty_card_text {
		left: 1.25rem;
		right: 1.25rem;
	}

	.cta_large_text {
		grid-gap: 4.0625rem;
	}
	.img_side_text {
		padding: 1.875rem 2.75rem;
	}
	.huge_text {
		font-size: 5.2685rem;
	}
	.common_h1 {
		font-size: 5.557813rem;
	}
	.bsky_profesn_text .default_body br {
		display: none;
	}
	.common_banner .img_side_text {
		padding: 3rem 2rem 3rem 4rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	ul.bsky_pets_categ_ul li {
		flex: 1;
	}
	.bg_section .flex-row-reverse .approch_text .orange_btn .small_gray {
		font-size: 0.85rem;
		padding-left: 1rem;
	}
	.without_avtar .testimonial_card_inner {
		padding: 2.125rem 2.75rem;
	}


	/* common css  */

	
	

	/* common css close */
}

@media only screen and (max-width:991.90px)
{

    /* screen size 768px */

	:root {
		font-size: 70.6%;
	}

	.bsky_banner_text {
		padding-top: 2.9375rem;
		text-align: center;
		max-width: 45rem;
		margin: 0 auto;
		padding-left: 0;
	}
	.banner_small_video > img {
		max-width: 32.8125rem;
		border-width: 0.354rem;
	}
	.bsky_header_bottom_inner nav.navbar {
		grid-gap: 3.4375rem;
	}
	.top_header_left_links p {
		font-size: 1.101rem;
	}
	.dropdown .dropdown_arrow::after {
		width: 0.825rem;
		height: 0.575rem;
	}
	.default_body_small {
		font-size: 1.0624rem;
		line-height: 1.265625rem;
	}
	.default_caption_title{
		font-size: 1.0624rem;
	}
	.bsky_filter-list > ul {
		grid-gap: 1.8624rem;
	}
	.specialty_cards_slider {
		margin-right: -30px;
	}
	.specialty_cards_slide {
		margin-right: 30px;
	}
	.huge_text {
		font-size: 4.9685rem;
	}
	.bsky_profesn_img img {
		max-width: 21.125rem;
		object-fit: contain;
		object-position: bottom;
	}
	.customer_name .customer_location {
		font-size: 0.885rem;
	}
	.heading_1 {
		font-size: 4.43rem;
		line-height: 4.1455625rem;
	}
	.common_banner .img_side_text {
		padding: 3rem 0rem 3rem 3rem;
	}
	.orange_btn {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 20px;
		align-items: center;
	}
}

@media only screen and (max-width:767.90px)
{

    /* screen size 576px */

	.bsky_nav_links {
		display: none;
	}
	.bsky_header_bottom_inner nav.navbar {
		align-items: center;
		justify-content: space-between;
		padding: 15px 0 33px;
	}
	.mobile_btn {
		grid-gap: 20px;
	}
	.mobile_btn .free_quote_btn {
		display: inline-flex;
		max-width: 103px;
		width: 100%;
		height: 28px;
		padding: 7.809px 11.358px;
		justify-content: center;
		align-items: center;
		gap: 7.099px;
		flex-shrink: 0;
		border-radius: 20px;
		background: #FFB92E;
		color: #0A1A2F;
		font-size: 10px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -0.1px;
	}
	.navbar-toggler-icon {
		background-image: unset;
	}
	.logo_div .desktop_logo {
		display: block;
		max-width: 93px;
		width: 100%;
	}
	.mobile_btn .navbar-toggler {
		padding: 0;
		border: 0;
	}
	.mobile_btn .navbar-toggler svg {
		height: 100%;
	}
	.mobile_btn {
		grid-gap: 20px;
		flex: 1;
		justify-content: flex-end;
	}

	.top_header_links{
		display: none;
	}
	.bsky_banner_text_footer {
		grid-gap: 26px;
		align-items: center;
		flex-direction: column;
		padding-top: 33px;
	}
	.bsky_banner_text_footer .banner_number {
		display: none;
	}
	.customer_follow p {
		font-size: 15px;
	}
	.customer_follow img {
		max-width: 84px;
	}
	.orange_btn .get_btn {
		padding: 10px 22px;
		font-size: 12px;
	}
	.bsky_banner_inner {
		padding: 56px 27px 30px;
	}
	.common_h1 {
		font-size: 50px;
		letter-spacing: -2px;
		padding-bottom: 56px;
	}
	.bsky_banner_text {
		padding-top: 0;
	}
	.common_h1 + .bsky_banner_text{
		padding-bottom: 32px;
	}
	.banner_small_video > img {
		border-width: 4.153px;
	}
	.customer_follow {
		grid-gap: 8px;
	}
	.mobile_common_title_btn {
		margin-top: 20px;
	}
	.mobile_common_title_btn {
		margin: 30px auto 0;
		font-size: 12px;
	}
	.default_caption_title {
		font-size: 12px;
	}
	.common_title .heading_4 {
		text-align: center;
	}

	/* common css */
	.heading_2 {
		font-size: 36px;
		line-height: 36px;
	}

	.heading_4 {
		font-size: 25px;
		line-height: 25px;
	}
	.default_py {
		padding-top: 55px;
		padding-bottom: 55px;
	}
	.bsky_overall_wrapper {
		padding: 0 20px;
	}
	.bg_section {
		padding: 34px 24px 24px 18px;
	}
	.default_body {
		font-size: 12px;
		line-height: 137%;
	}

	.link_btn {
		font-size: 12px;
	}
	/* common css close*/	

	.specialty_cards_slider {
		margin-right: -18px;
	}
	.specialty_cards_slide {
		margin-right: 18px;
	}
	.bsky_our_specialty_inner .common_title .heading_3 {
		padding-right: 38px;
		text-align: center;
		padding-left: 20px;
	}
	.bsky_cta_inner {
		padding: 36px 13px;
	}
	.bsky_cta_inner .common_title h3 .heading_small {
		font-size: 25px;
		display: block;
		margin-top: 18px;
		margin-bottom: 46px;
	}
	.specialty_card_text .default_caption_title {
		font-size: 10px;
	}
	.specialty_card_text .heading_3 {
		font-size: 20px;
		margin-bottom: 28px;
	}
	.bsky_cta_inner .common_title h3 .blue_line {
		font-size: 40px;
	}
	.outline_btn .get_btn {
		padding: 16px 30px;
		font-size: 12px;
		margin-left: 0;
		border: 1px solid #ffffff;
	}
	.bsky_cta_large_inner {
		position: relative;
		background-image: url(../images/mobile_cta_large.png);
		background-size: cover;
		background-position: center;
		border-radius: 10px;
	}
	.bsky_cta_large_inner > img {
		display: none;
	}
	.cta_large_text {
		flex-direction: column;
		position: static;
		padding: 36px 20px;
		align-items: flex-start;
		justify-content: space-between;
		grid-gap: 200px;
	}
	.blue_sky_logo {
		padding: 0;
		max-width: fit-content;
		width: 100%;
		text-align: center;
	}
	.bsky_cta_large_text .heading_2 {
		font-size: 36px;
		line-height: 100%;
		letter-spacing: -0.72px;
	}
	.bsky_cta_large_text {
		grid-gap: 33px;
	}
	.huge_text {
		font-size: 38px;
		text-align: center;
		padding: 0 10px;
	}
	.huge_text .text_img {
		max-width: 59px;
		display: inline-block;
		width: 100%;
	}
	.img_side_text {
		padding: 33px 0 0;
	}
	.default_caption_caps {
		font-size: 10px;
		line-height: 138%;
		margin-bottom: 14px !important;
	}
	.img_side_text .footer_btn {
		margin-top: 28px;
	}
	.bsky_our_specialty_inner.bg_section {
		padding-right: 0;
	}
	.bsky_profesn_text {
		padding: 0;
	}
	.bsky_profesn_outter {
		grid-gap: 0;
		flex-direction: column;
	}
	.bsky_profesn_inner.bg_section {
		padding-bottom: 0;
	}
	.bsky_profesn_img img {
		max-width: 100%;
	}
	.bsky_testimonial_inner .common_h1 {
		font-size: 36px;
		line-height: 32.4px;
		padding-bottom: 0;
	}
	.bsky_testimonial_inner .bsky_huge_title .default_body_large {
		margin-top: 19px;
		margin-bottom: 28px;
	}
	.testimonial_sponsor ul {
		grid-gap: 20px;
	}
	.testimonial_sponsor img {
		height: 23px;
	}
	.customer_name p {
		font-size: 12px;
		line-height: 135%;
	}
	.default_body_small {
		font-size: 10px;
		line-height: 135%;
	}
	.testimonial_card_inner {
		padding: 24px 24px 12px 24px;
	}
	.customer_name .customer_location {
		font-size: 7px;
	}
	.approch_text .list_style {
		margin: 0px 0 32px;
	}
	.approch_text .list_style li {
		margin-top: 0;
		color: #0E2648;
		font-weight: 500;
	}
	.img_side_text .default_body_large {
		margin-bottom: 19px;
		font-size: 12px;
		line-height: 137%;
	}
	.bsky_serving_inner .bsky_serving_text {
		margin-top: 20px;
		margin-left: 0;
	}
	.serving_tag {
		top: 22px;
		left: 12px;
		padding: 10px 20px;
	}
	.serving_img {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.top_header_left_links p {
		font-size: 12px;
		text-align: center;
	}
}


@media only screen and (max-width:575.90px)
{

    /* screen size 360px */
}



