@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Rg.woff2') format('woff2'),
        url('TTNormsPro-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

